<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@v3.1.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div id="app">
    <section v-show="inProgressAssignments.length" class="container mx-auto my-10">
        <h2 class="font-bold text-xl mb-2">In progress</h2>
        <ul class="list-disc ml-4">
            <li v-for="assignment in inProgressAssignments"
                :key="assignment.id"
            >
                <label class="cursor-pointer">
                    {{ assignment.name }}
                    <input type="checkbox" v-model="assignment.completed">
                </label>
            </li>
        </ul>
    </section>
    <section v-if="completedAssignments.length" class="container mx-auto my-10">
        <h2 class="font-bold text-xl mb-2">Completed</h2>
        <ul class="list-disc ml-4">
            <li v-for="assignment in completedAssignments"
                :key="assignment.id"
            >
                <label class="cursor-pointer">
                    {{ assignment.name }}
                    <input type="checkbox" v-model="assignment.completed">
                </label>
            </li>
        </ul>
    </section>
</div>
<script>
    let app = {
        data (){
            return {
                assignments : [
                ]
            }
        },
        computed: {
            inProgressAssignments() {
                return this.assignments.filter(assignment => !assignment.completed);
            },
            completedAssignments() {
                return this.assignments.filter(assignment => assignment.completed);
            }
        }

    };

    Vue.createApp(app).mount('#app');
</script>
</body>
</html>